.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
  }
  
  .video-background video {
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: auto;
    z-index: -100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Change color as needed */
    text-align: center;
    z-index: 1; /* Ensure content appears on top of video */
  }
  
  df-messenger {
    --df-messenger-bot-message: var(--midnight);
    --df-messenger-button-titlebar-color: var(--crimson);
    --df-messenger-chat-background-color: var(--cream);
    --df-messenger-font-color: var(--cream);
    --df-messenger-send-icon: var(--crimson);
    --df-messenger-user-message: var(--crimson);
    text-align: left;
}

.hide-interaction {
  z-index: -1 !important;
}

.show-interaction {
  z-index: 0 !important;
}

.finish-btn {
  background-color: var(--crimson) !important;
  color: var(--cream);
  position: fixed;
  bottom: 15px;
  left: 35px;
  display: none;
}

.continue-btn {
  background-color: var(--crimson) !important;
  color: var(--cream);
  position: fixed;
  bottom: 15px;
  left: 35px;
  display: none;
}

.help-btn {
  background-color: var(--midnight) !important;
  color: var(--cream);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 9px;
  margin-left: 25px;
  /* position: fixed;
  top: 15px;
  right: 35px; */
}

.btn-list {
  padding: 9px;
  margin-left: 25px;
  position: fixed;
  top: 15px;
  right: 35px;
}