.introduction, .transition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

video {
    margin: 15px 0;
}

.button-area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 100%;
}

.description {
    width: 65%;
    font-size: 17px;
    text-align: center;
}

.nav-area {
    opacity: 100% !important;
    width: 100%;
}

.user-input {
    opacity: 0% !important;
    padding: 9px;
    border-radius: 15px;
    margin-bottom: 15px !important;
}

.hide-buttons {
    opacity: 0%;
}

.show {
    opacity: 100% !important;
}
